.header {
    /*background-color: red;*/
    height: 100px;
}
.container {
    /*background-color: green;*/

}

.row {
     /*background-color: yellow;*/
     height: 80px;
    text-align: center ;
    position: relative;
border-bottom:  transparent 4px solid;
 }

.cell {
      background-color:#444;
      width: 80px;
    height: 80px;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    line-height: 80px;
    vertical-align: middle;
    color: white;
    font-size: 40px;
    font-family: Arial;
    -moz-transition: all .50s ease-in-out;
    -o-transition: all .50s ease-in-out;
    -webkit-transition:all .50s ease-in-out;
    transition: all .50s ease-in-out;

  }
.cell:hover {
    background-color: yellowgreen;
}
.cell2,
.cell4,
.cell8{
    font-size: 70px;
    color: #222;
}
.cell2{
    background-color: #f5f5f5;
}
.cell4{
    background-color: #f5f5dc;
}
.cell8{
     background-color: #ffa07a;
 }

.cell16,
.cell32,
.cell64{
    font-size: 50px;
    color: #222;
}
.cell16{
    background-color: #ff7f50;
}
.cell32{
    background-color: #ff6347;
}
.cell64{
    background-color: #ff0000;
}


.cell128,
.cell256,
.cell512{
    font-size: 40px;
    color: #333;
}
.cell128{
    background-color: #fff060;
}
.cell256{
    background-color: #f0e050;
}
.cell512{
    background-color: #f0e010;
}


.cell1024,
.cell2048{
    font-size: 30px;
    color: #222;
}
.cell1024{
    background-color: #f0d000;
}
.cell2048{
    background-color: #f0c000;
}


.cell4096,
.cell8192{
    font-size: 30px;
    color: #ddd;
}
.cell4096{
    background-color: #000000;
}
.cell8192{
    background-color: #000000;
}


.restart{
    text-align: center;
    display: none;
}
.restart.active{
    display: inherit;

}
.restart > p {
    text-align: center;
    font-family: sans-serif;
    color: darkorange;
    font-size: 28px;
}
.btn{
    background-color: darkorange;
    color: #111;
    -webkit-appearance: none;
    border: 0;
    border-radius: 70px;
    padding: 20px;
    width: 140px;
    height: 140px;
    cursor: pointer;
    font-size: 31px;
}
.btn:hover{
    background-color:blueviolet;
}
.btn:focus{
    outline: none;
}



body{
    background-color: #222;
    color: #999;
}